<!DOCTYPE html>
<html>
<input type="hidden" id="csrfToken" value="{{ csrf_token }}">    
<body>

<h2>Delete Product?</h2>

<button id="deleteBtn">Yes Delete</button>
<a href="/api/orders/dashboard/producer/view/"><button>Cancel</button></a>

<script>
const id = window.location.pathname.split("/")[3];
const csrfToken = document.getElementById("csrfToken").value;
deleteBtn.onclick = () => {
    fetch(`/api/products/${id}/`, {
        method: "DELETE",
        headers: { "X-CSRFToken": csrfToken },
        credentials: "include"
    })
    .then(() => {
        alert("Deleted!");
        window.location.href = "/api/orders/dashboard/producer/view/";
    });
};
</script>

</body>
</html>