{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<input type="hidden" id="csrfToken" value="{{ csrf_token }}">

<h2 class="header">Edit Product</h2>
<div class="card">
    <form id="form">
        <h3>Name: </h3><input id="name"><br>
        <h3>Description: </h3><textarea id="description"></textarea><br>
        <h3>Price: </h3><input type="number" step="0.01" id="price"><br>
        <h3>Unit:</h3><br>
        <select id="unit">
        <option value="item">Per Item</option>
        <option value="kg">Per Kg</option>
        <option value="g">Per Gram</option>
        <option value="litre">Per Litre</option>
        <option value="dozen">Per Dozen</option>
        <option value="pack">Per Pack</option>
        </select><br>
        <h3>Categories:</h3><br>
        <select id="category">
        <option value="vegetables">Vegetables</option>
        <option value="dairy">Dairy</option>
        <option value="bakery">Bakery</option>
        <option value="preserves">Preserves</option>
        <option value="seasonal">Seasonal</option>
        </select><br>
        <h3>Organic Certified?</h3>
        <input type="checkbox" id="is_organic"><br>
        <h3>Allergens: </h3><textarea id="allergen_info"></textarea><br>
        <h3>Harvest Date: </h3><input type="date" id="harvest_date"><br>
        <h3>Best Before Date: </h3><input type="date" id="best_before_date"><br>
        <h3>Available From: </h3><input type="date" id="available_from"><br>
        <h3>Available To: </h3><input type="date" id="available_to"><br>
        <h3>Stock Quantity: </h3><input type="number" id="stock_quantity"><br>
        <button>Save</button>
    </form>
</div>

{% comment %} ##### SCRIPT ##### {% endcomment %}
<script>
const id = window.location.pathname.split("/").filter(Boolean).pop();
const csrfToken = document.getElementById("csrfToken").value;
const form = document.getElementById("form");

// Inputs
const nameInput = document.getElementById("name");
const descriptionInput = document.getElementById("description");
const priceInput = document.getElementById("price");
const unitInput = document.getElementById("unit");
const categoryInput = document.getElementById("category");
const organicInput = document.getElementById("is_organic");
const allergenInput = document.getElementById("allergen_info");
const bestBeforeInput = document.getElementById("best_before_date");
const harvestInput = document.getElementById("harvest_date");
const fromInput = document.getElementById("available_from");
const toInput = document.getElementById("available_to");
const stockInput = document.getElementById("stock_quantity");

// Date Restrictions
const today = new Date().toISOString().split("T")[0];
bestBeforeInput.min = today;
fromInput.min = today;
toInput.min = today;

// LOAD PRODUCT
fetch(`/api/products/${id}/`, { credentials: "include" })
.then(res => res.json())
.then(p => {
    nameInput.value = p.name;
    descriptionInput.value = p.description;
    priceInput.value = p.price;
    unitInput.value = p.unit;
    categoryInput.value = p.category;
    organicInput.checked = p.is_organic;
    allergenInput.value = p.allergen_info;
    bestBeforeInput.value = p.best_before_date;
    fromInput.value = p.available_from;
    harvestInput.value = p.harvest_date;
    toInput.value = p.available_to;
    stockInput.value = p.stock_quantity;
});

// SAVE
form.onsubmit = e => {
    e.preventDefault();
    fetch(`/api/products/${id}/`, {
        method: "PUT",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken
        },
        credentials: "include",
        body: JSON.stringify({
            name: nameInput.value,
            description: descriptionInput.value,
            price: priceInput.value,
            unit: unitInput.value,
            category: categoryInput.value,
            is_organic: organicInput.checked,
            allergen_info: allergenInput.value,
            best_before_date: bestBeforeInput.value,
            harvest_date: harvestInput.value,
            available_from: fromInput.value,
            available_to: toInput.value,
            stock_quantity: stockInput.value
        })
    })
    .then(() => {
        alert("Updated!");
        window.location.href = "/api/orders/dashboard/producer/view/";
    });
};
</script>
</body>
</html>